<!-- Banner -->
  <section id="banner">
    <div class="content">
      <header>
        <h1>Envrionmental SensorBoxes</h1>
        <p>Assembly and Usage Documentation</p>
      </header>
      <p>On this site, you will find information for the assembly and usage of the Sensorboxes. They were build in the course of a one-week master's seminar at the University of Marburg. The aim of this seminar was to build up a fully deployable box equipped with various sensor to monitor some basic envrionmental variables. The seminar is closely linked to the LOEWE research project <a href='https://github.com/Nature40'>Natur 4.0.</a></p><p>&nbsp;</p></div>
      </div>
    <span class="image object">
      <img src="../assets/images/insideBox.jpg" alt="" onerror="this.style.display = 'none';">
    </span>
  </section>

